{% extends 'base.html.twig' %}

{% block title %}CEFIM{% endblock %}

{% block body %}

    {% include 'header.html.twig' %}
    <section class="welcome">
        <div class="container welcome_content">
                <div class="welcome_content_left">
                    <h2>Bienvenue sur le <span>kadoc</span></h2>
                    <p class="welcome_baseline">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto deserunt fugiat hic itaque pariatur repudiandae voluptatem! Fuga ipsa quae quibusdam.</p>
                    <div class="button_container">
                        <a class="cefim_button" href="{{ path('app_login') }}">Se connecter</a>
                        <a class="cefim_button" href="{{ path('contact_us') }}">Nous contacter</a>
                    </div>
                </div>
                <div class="welcome_content_right">
                    <img src="{{ asset('images/kadoc.png') }}" alt="image représentant le personnage Kadoc">
                </div>
        </div>
    </section>
    {% include 'footer.html.twig' %}
{% endblock %}


