{% extends 'base.html.twig' %}

{% block title %}CEFIM{% endblock %}

{% block body %}

    <header>
        <div class="container">
            <div class="header_left">
                <h1>CEFIM</h1>
            </div>
            <div class="header_right">
                <nav>
                    <ul>
                        <li><a href="#">Accueil</a></li>
                        <li><a href="#">Salles</a></li>
                        <li><a href="#">Cours</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <section class="welcome">
        <div class="container">
            <h2>Bienvenue sur le <span>Kadoc</span></h2>
        </div>
    </section>
{% endblock %}
