{% extends 'base.html.twig' %}

{% block title %}Confirmation changement mot de passe{% endblock %}

{% block body %}
    <h1>Votre mot de passe a bien été modifié</h1>
    <a href="{{ path('app_login') }}">Cliquez-ici pour vous connecter></a>
{% endblock %}
