{% extends 'base.html.twig' %}

{% block title %}Nouvelle salle{% endblock %}

{% block body %}

    <h1>Ajouter une nouvelle salle</h1>

    {{ form(form) }}

{#    {{ dump(Salles) }}#}


{% endblock %}
