{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Welcome to Kadoc' %}

{% block page_content %}
    <style>
        p { max-width: 600px; }
    </style>

    <h1>Bienvenue dans le DashBoard</h1>

{% endblock %}
