<footer>
    <div class="container">
        <div class="footer_left_content">
            <a href="https://www.facebook.com/cefimformation/"><img src="{{ asset('images/facebook.png') }}" alt=""></a>
            <a href="https://twitter.com/cefimformation"><img src="{{ asset('images/twitter.png') }}" alt=""></a>
            <a href="https://www.linkedin.com/school/cefim/?originalSubdomain=fr"><img src="{{ asset('images/linkedin.png') }}" alt=""></a>
        </div>
        <div class="footer_right_content">

        </div>
    </div>
</footer>